rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Lista maestra de invitaciones (Compromiso y Boda)
    match /invitaciones/{docId} {
      allow read: if true;
      allow update: if request.auth != null || 
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['email_vinculado', 'primer_login', 'ultimo_login', 'ultimo_rsvp']);
      allow create, delete: if request.auth != null;
    }

    match /invitaciones_boda/{docId} {
      allow read: if true;
      allow update: if request.auth != null || 
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['email_vinculado', 'primer_login', 'ultimo_login', 'ultimo_rsvp']);
      allow create, delete: if request.auth != null;
    }

    // Reglas para la fiesta de compromiso
    match /rsvps_compromiso/{document=**} {
      allow read, create, update: if true;
      allow delete: if request.auth != null;
    }

    // Reglas para la boda
    match /rsvps_boda/{document=**} {
      allow read, create, update: if true;
      allow delete: if request.auth != null;
    }

    // Regalos y aportes de Luna de Miel
    match /regalos_luna_miel/{document=**} {
      allow read: if request.auth != null;
      allow create: if true;
      allow update, delete: if request.auth != null;
    }
  }
}